@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5BC0BE;
}

::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

/* Applies to all code blocks and text areas */
pre,
code,
p {
  white-space: pre-wrap;
  /* Wrap long lines */
  word-wrap: break-word;
  /* Break long words */
  overflow-wrap: break-word;
  /* Handle long URLs or code */
}

/* Prevent horizontal scroll for long code blocks */
pre {
  overflow-x: auto;
  /* Allows scrolling instead of overflow */
  max-width: 100%;
  /* Keeps it within the container */
}